<?xml version="1.0"?>
<phpunit bootstrap="tests/bootstrap.php">
  <testsuites>
    <testsuite name="all">
      <directory>.</directory>
    </testsuite>
    <testsuite name="unit">
      <directory>Unit/</directory>
    </testsuite>
    <testsuite name="integration">
      <directory>Integration</directory>
    </testsuite>
  </testsuites>
</phpunit>
